
<header>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Admin </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">All products <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">All Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">All users</a>
                </li>
           
            </ul>
            <div class="form-inline my-2 my-lg-0">
                {{!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> --}}
                <a href="/admin/logout" class="btn btn-success my-2 my-sm-0" type="submit">Logout</a>
            </div>
        </div>
    </nav>

</header>




<section>
    <div class="container pt-5">
        <div class="row" style="padding: 50px;">
            
            <a href="/admin/add-user" class="btn btn-info " style="margin-left: 75rem;">Add user</a>
        </div>
        <table class="table" id="userTable">
  <thead>
    <tr>

    
      
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Options</th>
      
      
   
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      
    
      <td>{{this.Name}}</td>
      <td>{{this.Email}}</td>
      
     
      <td>
        <a href="/admin/edit-user/{{this._id}}" class="btn btn-warning">Edit</a>
        <a href="/admin/delete-user/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure {{this.Name}}?')">Delete</a>
      </td>
      
    </tr>
    {{/each}}

</table>
</section>
<script>
 $(document).ready( function () {
    $('#userTable').DataTable();
} );
</script>